

<div class="grafico">
  <h3>Bienvenido</h3>
  <h2>
    Hola! que bueno tenerte de vuelta por aquí
  </h2>

  <!-- chart doughnut-->
  <!-- <div class="chartContainer">
    <canvas id="canvas-doughnut" width="400" height="400">
      {{ chartdoughnut }}
    </canvas>
  </div> -->

  <!-- chart bar-->
  <!-- <div class="chartContainer">
    <canvas id="canvas-bar" width="400" height="400">
      {{ chartBar }}
    </canvas>
  </div> -->
  <div class="header-cont">
    <img src="../../../assets/img/home.jpg" alt="home-estubeca">
  </div>
</div>


