.alinear {
    text-align: center;
    margin-top: 15px;
    font-size: 2.7em;
    font-family: 'Concert One';
  }

  fieldset {
    border: 1px solid rgb(219, 159, 91);
    padding: 0;
    margin: 0;
    border: 0;
  }
  h1{
    font-family: 'Be Vietnam', sans-serif;
    font-weight: bold;
    font-size: 22px;
    }
  
  .form-group {
    margin-bottom: 1.1rem;
    font-family: 'Be Vietnam', sans-serif;
  }
  
  .form-control {
    display: block;
    width: 100%;
    color: #000000;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    padding: .75rem 1.5rem;
    border-radius: .3rem;
    font-size: 17px;
  }
  
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0
  }
  
  .form-control:focus {
    border-color: #66afe9;
    outline: none
  }
  
  .form-control::placeholder {
    color: #999;
    opacity: 1
  }
  
  .form-control:disabled,
  .form-control[readonly] {
    background-color: #eceeef;
    opacity: 1
  }
  
  .form-control:disabled {
    cursor: not-allowed
  }
  
  select.form-control:not([size]):not([multiple]) {
    height: 2.5rem
  }
  
  .form-control-file,
  .form-control-range {
    display: block
  }
  
  .form-control-label {
    padding: .5rem .75rem;
    margin-bottom: 0
  }
  
  .form-control-legend {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem
  }
  
  
  .form-control-static {
    min-height: 2.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 0
  }
  
  .form-control-static.form-control-sm,
  .input-group-sm>.form-control-static.form-control,
  .input-group-sm>.form-control-static.input-group-addon,
  .input-group-sm>.input-group-btn>.form-control-static.btn,
  .form-control-static.form-control-lg,
  .input-group-lg>.form-control-static.form-control,
  .input-group-lg>.form-control-static.input-group-addon,
  .input-group-lg>.input-group-btn>.form-control-static.btn {
    padding-right: 0;
    padding-left: 0
  }
  
  .form-control-sm,
  .input-group-sm>.form-control,
  .input-group-sm>.input-group-addon,
  .input-group-sm>.input-group-btn>.btn {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem
  }
  
  .form-control-lg,
  .input-group-lg>.form-control,
  .input-group-lg>.input-group-addon,
  .input-group-lg>.input-group-btn>.btn {
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .3rem
  }
  
  @media(min-width:544px) {
    .form-inline .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle
    }
  
    .form-inline .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle
    }
  
    .form-inline .form-control-static {
      display: inline-block
    }
  
    .form-inline .input-group {
      display: inline-table;
      vertical-align: middle
    }
  
    .form-inline .input-group .input-group-addon,
    .form-inline .input-group .input-group-btn,
    .form-inline .input-group .form-control {
      width: auto
    }
  
    .form-inline .input-group>.form-control {
      width: 100%
    }
  
    .form-inline .form-control-label {
      margin-bottom: 0;
      vertical-align: middle
    }
  
    .form-inline .radio,
    .form-inline .checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: middle
    }
  
    .form-inline .radio label,
    .form-inline .checkbox label {
      padding-left: 0
    }
  
    .form-inline .radio input[type=radio],
    .form-inline .checkbox input[type=checkbox] {
      position: relative;
      margin-left: 0
    }
  
    .form-inline .has-feedback .form-control-feedback {
      top: 0
    }
  }
  
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    justify-content: space-between;
  }
  
  .container-page {
    max-width: 80%;
    margin: 0 auto;
    display: flow-root;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .options{
    text-align: center;
    justify-content: center;
  }
  .btn-primary {
    font-family: 'Be Vietnam', sans-serif;
    background: #f8953f;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    height: 50px;
    width: 120px;
    margin-top: 20px;
    margin-bottom: 4em;
  }
  
  .btn-primary span {
  
    position: relative;
    z-index: 2;
    transition: .3s ease all;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Be Vietnam';
  }
  
  .btn-primary::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 80px);
    border-bottom: 80px solid #ffbe46;
    border-right: 80px solid transparent;
    transition: .4s ease-in-out all;
  }
  
  .btn-primary:hover::after {
    left: 0;
  }

  .mda-form-msg{
    font-family: 'Be Vietnam', sans-serif;
    font-size: 15px;
    color: #e72f2f;
    padding-bottom: 15px;
  }