<div class="title">
    <a class="icon-title">Estubeca</a>
 </div>
 <div class="row" onload="load();">
    <div class="col-lg-8">
      <img src="../../../assets/img/registro.png" alt="representacion-registro">
      
        <form [formGroup]="myForm" autocomplete="off">
          <div class="logo">
          <img  src="../../../assets/img/logo-fondo.png" alt="logo-con-fondo">
          <span style="font-weight: bold; font-family: 'Be Vietnam', sans-serif; margin-top: 50px;">Crear cuenta</span>
        </div>
          
              <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]="20">
                  <mat-label style="font-weight: bold; font-family: 'Be Vietnam', sans-serif;">Correo</mat-label>
                  <input matInput formControlName="email" />
                </mat-form-field>
                <div
                  *ngIf="
                    myForm.get('email')?.hasError('required') &&
                    myForm.get('email')?.touched
                  "
                >
                  <span class="mda-form-msg"> Este campo es obligatorio </span>
                </div>
                <div
                  *ngIf="myForm.get('email')?.hasError('email')"
                     >
                  <span class="mda-form-msg">
                    Este campo no tiene formato de correo
                  </span>
                </div>
              </div>
              <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]="20">
                  <mat-label style="font-weight: bold; font-family: 'Be Vietnam', sans-serif;">Usuario</mat-label>
                  <input matInput formControlName="username" />
                </mat-form-field>
                <div
                  *ngIf="
                    myForm.get('username')?.hasError('required') &&
                    myForm.get('username')?.touched
                  "
                >
                  <span class="mda-form-msg"> Este campo es obligatorio </span>
                </div>
              </div>
              <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]="20">
                  <mat-label style="font-weight: bold; font-family: 'Be Vietnam', sans-serif;">Contraseña</mat-label>
                  <input matInput formControlName="password" />
                </mat-form-field>
                <div
                  *ngIf="
                    myForm.get('password')?.hasError('required') &&
                    myForm.get('password')?.touched
                  "
                >
                  <span class="mda-form-msg"> Este campo es obligatorio </span>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="options">
                <button
                  class="btn btn-success btn-lg float-right"
                  id="btn-registro-user"
                  [disabled]="myForm.invalid"
                  type="button"
                  style="margin-left: 10 px"
                  (click)="saveUser()"
                > <span>Aceptar</span>
            
                </button>
                <button
                  class="btn btn-secondary btn-lg float-right"
                  type="button"
                  routerLink="/"
                >
                <span>Cancelar</span>
                </button>
              </div>
              </div>
        </form>
        
    </div>

</div>

