.alinear {
    text-align: center;
    margin-top: 15px;
    font-size: 2.7em;
    font-family: 'Concert One';
    padding: 5px 35px;

  }

  fieldset {
    border: 1px solid rgb(219, 159, 91);
    padding: 0;
    margin: 0;
    border: 0;
  }


  
  .form-control {
    display: block;
    width: 100%;
    color: #000000;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    padding: .75rem 1.5rem;
    border-radius: .3rem;
    font-size: 17px;
  }
  
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0
  }
  
  .form-control:focus {
    border-color: #66afe9;
    outline: none
  }
  
  .form-control::placeholder {
    color: #999;
    opacity: 1
  }
  
  .form-control:disabled,
  .form-control[readonly] {
    background-color: #eceeef;
    opacity: 1
  }
  
  .form-control:disabled {
    cursor: not-allowed
  }
  
  select.form-control:not([size]):not([multiple]) {
    height: 2.5rem
  }
  
  .form-control-file,
  .form-control-range {
    display: block
  }
  
  .form-control-label {
    padding: .5rem .75rem;
    margin-bottom: 0
  }
  
  .form-control-legend {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem
  }
  
  
  .form-control-static {
    min-height: 2.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 0
  }
  
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    justify-content: space-between;
  }
  
  .container-page {
    max-width: 100%;
    margin: 0 auto;
    display: flow-root;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .options{
    text-align: center;
    justify-content: center;
  }
  .btn-primary {
    font-family: 'Be Vietnam', sans-serif;
    background: #f8953f;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    height: 50px;
    width: 120px;
    margin-top: 20px;
    margin-bottom: 4em;
  }
  
  .btn-primary span {
  
    position: relative;
    z-index: 2;
    transition: .3s ease all;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Be Vietnam';
  }
  
  .btn-primary::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 80px);
    border-bottom: 80px solid #ffbe46;
    border-right: 80px solid transparent;
    transition: .4s ease-in-out all;
  }
  
  .btn-primary:hover::after {
    left: 0;
  }

  .mda-form-msg{
    font-family: 'Be Vietnam', sans-serif;
    font-size: 15px;
    color: rgb(17, 17, 155);
    padding-bottom: 15px;
  }

  /* Nuevo */ 
.row {
  display: flex;
  flex-direction: row; 

}

.col {
  flex: 1;  

}
.col-lg-6 {
  color: rgb(9, 9, 117); /* Puedes cambiar "blue" por el color que desees */
  text-align: center;
}
.form-group {
  padding: 5px 55px;
}
mat-radio-button {
  margin-right: 7px;
}

