<div class="alinear">
    <h1 class="title">{{curso.title}}</h1><br/>
    <div class="alinear">
    <div class="container-page">
        <mat-card class="cajita">
         <mat-card-content>
             <h1>Descripción</h1>
             {{curso.description}}
          </mat-card-content>
        </mat-card>

        <mat-card class="cajita2">
          <mat-card-content>
            <h1>Costo</h1>
            <p>
             {{curso.cost}}
            </p>
          </mat-card-content>
        </mat-card>

    
    <br/>
    </div>
</div>

