.curso-card {
  margin-top: 30px;
  max-width: 380px;
  border-radius: 10px;
  background-color: #D9D9D970;
  margin-bottom: 30px;
}

p{
  text-align: center;
}

.container{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}
.container>*{
flex: 1 1 380px;
}
.alinear {
text-align: center;
margin-top: 20px;
font-size: x-large;
font-family: 'Be Vietnam Pro', sans-serif;
font-weight: 600;
text-decoration: underline;
}
.mat-raised-button{

background-color: #D8843B; 
color: antiquewhite;
margin-right: 5%;
font-weight: 600;
}

.mat-button{

  background-color: #D8843B; 
  color: antiquewhite;
  margin-right: 5%;
  font-weight: 600;
  }