<div class="col-log-6" style="text-align:center">
    <h1>Plan Premium</h1>
</div>
<div>
    <h2>Beneficios</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text">
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Ut venenatis libero nec ex viverra posuere.</li>
                <li>In porttitor ligula accumsan vulputate accumsan.</li>
                <li>Integer pellentesque neque at eros consequat, eget auctor metus blandit.</li>
                <li>Sed ac dolor id sem hendrerit gravida ac non sem.</li>
                <li>Morbi ultricies tortor et ex fringilla, at varius ipsum lobortis.</li>
            </ul>
            </div>

            <img src="../../../assets/img/premium.png" alt="representacion-premium">
        </div>
        <div style="text-align: center" #paypal>   

        </div>
    </div>
</div>




