h1{
  font-family: 'Be Vietnam', sans-serif;
  font-weight: bold;
  padding-top:25px;
  padding-left: 15px;
}
.espacio{
  width: 6px;
}
.nav-link {
  cursor: pointer;
}

.tag-pill {
  cursor: pointer;
}


::ng-deep .mat-tab-label-active{
    background-color: rgba(255, 225, 182, 0.349);
    color: #000; font-weight: bold;
    font-family: 'Be Vietnam', sans-serif;
  }
.sidebar {
  font-family: 'Be Vietnam', sans-serif;
  padding: 20px;
  background: #f3f3f3;
  border-radius: 4px;
  margin-top: 30px;
  margin-right: 30px;
}

.sidebar p {
  font-family: 'Be Vietnam', sans-serif;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 16px;
}

.tag-list {
  padding-left: 0 !important;
  display: inline-block;
  list-style: none !important
}

.tag-list a {
  display: inline-block !important;
  font-family: 'Be Vietnam', sans-serif;
  }

.tag-default {
  background-color: #b3b3b3;
}

.tag-default:focus,
.tag-default:hover {
  background-color: #6a6f74
}

.tag-pill {
  padding-right: 0.8em;
  padding-left: 0.8em;
  padding-top: 0.35em;
  padding-bottom: 0.35em;
  border-radius: 10rem;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.col-md-3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-md-9 {
  position: relative;
  min-height: 1px;
  padding-right: 6%;
  padding-left: 6%;
  flex: 0 0 75%;
  max-width: 75%
}

.row {
  display: flex;
  flex-wrap: wrap;


}
