<div class="overlay">
  
  <div class="popup">
    <h1 mat-dialog-title>Hola {{data.name}}! </h1>
    <div mat-dialog-content>
      <h3>¿No eres premium todavia?</h3>
      <div class="popupContent">
        <h4>Subscribete y accede a cursos importantes para tus estudios.</h4>
      </div>
  
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()"> <span> No, gracias. </span> 
       </button>
      <button mat-button mat-dialog-close cdkFocusInitial (click)="haztePremium()"> 
        <span> Subscribete! </span></button>
    </div>
  </div>

</div>