.article-preview {
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 1.7rem 0;
}

.article-preview .meta-post {
    margin: 0 0 1rem
}

.preview-link{
    text-decoration: none
}
.article-preview .preview-link h1 {
    margin-top: 12px;
    font-weight: 600 !important;
    font-size: 1.5rem !important;
    margin-bottom: 3px;
    font-family: 'Be Vietnam', sans-serif;
}

.article-preview .preview-link p {
    font-weight: 300;
    font-size: 24px;
    color: rgb(117, 117, 117);
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.3rem;
    font-family: 'Be Vietnam', sans-serif;
}

.article-preview .preview-link span {
    max-width: 30%;
    font-size: 0.9rem;
    font-weight: 300;
    color: rgb(172, 172, 172);
    vertical-align: middle;
    cursor: pointer;
    font-family: 'Be Vietnam', sans-serif;
}

.article-preview .preview-link ul {
    float: right;
    max-width: 50%;
    vertical-align: top
}

.article-preview .preview-link ul li {
    font-weight: 300;
    font-size: 0.9rem !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-family: 'Be Vietnam', sans-serif;
}

.tag-default {
    background-color: #818a91;
}


.tag-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.tag-default.tag-outline {
    border: 1px solid #ddd;
    color: #aaa !important;
    background: 0 0 !important;
    margin-right: .3em;
    margin-left: .3em;
    font-family: 'Be Vietnam', sans-serif;
}

.tag-list {
    padding-left: 0 !important;
    display: inline-block;
    list-style: none !important;
    padding-right:20px;
    font-family: 'Be Vietnam', sans-serif;
    
}

.tag-list li {
    display: inline-block !important;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 14px;
    margin-bottom:6px;
    
}

.pull-xs-right {
    float: right !important
}
.preview-link {
    color: inherit !important;
    font-family: 'Be Vietnam', sans-serif;

}

.preview-link:hover {
    text-decoration: inherit !important;
    
}
