/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
*{ 
    margin: 0; 
    padding: 0;
    size: 10;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}
body { 
    margin: 0; 
    font-family: 'Be Vietnam Pro', sans-serif;
    position: relative;
 }

html, body { height: 100%; }
.mat-typography {
    font-family: 'Be Vietnam', sans-serif; 
    letter-spacing: normal;
}